{%extends 'layout.html' %} <!--De este forma heredo los bloques definidos en el layout-->

{%block title%}
    Inicio
{%endblock%}

{%block content%}

    <h1>Pagina de Inicio</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message aalert-success">
                    {{message}}
                </div>
            {%endfor%}
        {% endif %}
    {% endwith %}

    {% include 'includes/edad.html' %}

    {% include 'includes/personas.html' %}

    {# comment #}
    {#
    {{dato1}}
    {{dato2}}
    {{lista}}
    #}

    {# 
        comment 
    #}


{%endblock%}

    

