<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>{%block title%}| Aprendiendo Flask{%endblock%}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
    <body>
        
        <!-- Cabecera de la página -->
    <header>
        <div id="logotipo">
            <!--Logo Django-->
            <img src="{{url_for('static', filename='img/flask.png')}}" />
            <h1>Proyecto con Django</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>

            <li>
                <a href="{{url_for('crear_coche')}}">Crear coche</a>
            </li>

            <li>
                <a href="{{url_for('informacion')}}">Informacion</a>
            </li>
            <li>
                <a href="{{url_for('contacto')}}">Contacto</a>
            </li>
            <li>
                <a href="{{url_for('lenguajes')}}">Lenguajes de programacion</a>
            </li>
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
    {{ids}}    
        <div class="box">
        {% block content %}
                    <!--Código que viene de templates-->
                <strong>Contenido del bloque original</strong>
        {% endblock %}
        </div> 
    </div>
    <footer>
        Mater en Ptyhon &copy; Jonatan - {{now.year}}
    </footer>

    </body>
</html>